@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #00BFB3;
  --primary-dark: #008F86;
}

body {
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

